*{
	box-sizing: border-box;
	border: none;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	outline: 0;
	padding: 0;
}

html, body{
	background-color: #380036;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	scrollbar-color: #20bf55 transparent;
	scrollbar-width: thin;
}


div#header{
	background-color: #121212;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 30px;
}
div#header h1{
	color: #FFF;
	font-size: 28pt;
	font-weight: bold;
	text-align: center;
	margin: 0;
}


div#app{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	margin-top: 30px;
	margin-bottom: 30px;
}



div.box div.year{
	background-color: #20bf55;
	border-bottom: 3px solid #111;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 7px;
	padding: 10px 20px;
}
div.box div.year h1{
	font-size: 22pt;
	text-align: center;
	margin: 0;
}


div.box-animes div.card{
	background-color: #121212;
	border-radius: 10px;
	color: #fff;
	overflow: auto;
	scrollbar-color: #20bf55 transparent;
	scrollbar-width: thin;
	height: 400px;
	margin: 0;
	margin-bottom: 10px;
}
div.box-animes div.card div.card-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}
div.box-animes div.card div.card-content h1{
	font-size: 18pt;
	text-align: center;
	margin: 0;
	margin-bottom: 20px;
}
div.box-animes div.card div.card-content div.more{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0;
	margin-bottom: 20px;
	width: 100%;
}
div.box-animes div.card div.card-content div.more p{
	background-color: #20bf55;
	border-radius: 5px;
	font-weight: bold;
	padding: 10px;
}
div.box-animes div.card div.card-content p#sinopse{
	text-align: justify;
}


button{
	background-color: #20bf55;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 14pt;
	padding: 10px 20px;
}
button:hover{
	background-color: #227B52FF;
}
button:disabled{
	display: none;
}